html {
  background-image: url(kingSavage.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


body {
  /* background: #5865f2; */
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0% 0% 0 -2%;
  height: 100vh;
  background-color: #05050582;
  color: #e2e2e2;
}

h1,
h2,
h3,
div,
ul,
input,
button, form {
  align-self: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 40px;
}

li {
  margin-bottom: 1rem;
  list-style: none;
}